.card{
    border: none;
    background-color: #544E50;
    color: #FFFBFA;
    box-shadow: 10px 5px 20px  rgba(0, 0, 0, 0.596);
}
body{
    background-color: #DAD8D9;
}
.btn-dark, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FFFBFA !important;
    color: #544E50;
}
